# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Build output ---
/build
storybook-static

# --- Environment variables ---
.env
.env.local
.env.*.local

# --- System files ---
.DS_Store
Thumbs.db

# --- IDE & Editor configs ---
.idea/
.vscode/
*.swp

# --- Logs ---
logs/
*.log
*.tmp

# --- TypeScript ---
*.tsbuildinfo

# --- Misc ---
temp/
.tmp/
.cache/
