.Modal {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    color: var(--primary-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    overflow: hidden;
    will-change: transform, opacity;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;

    .content {
        transform: scale(1);
    }
}
