.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s;
}

.links,
.link,
.switchers {
    display: flex;
}

.links {
    flex-direction: column;
    gap: 8px;
}

.link {
    align-items: center;
    gap: 8px;
}

.switchers {
    gap: 16px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .links {
        gap: 16px;
    }
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}
