.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ListBox {
    position: relative;
    .trigger {
        padding: 7px 15px;
    }

    .options {
        min-width: 100%;
        position: absolute;
        border: 1px solid var(--primary-color);
        background: var(--bg-color);
    }

    .topLeft {
        bottom: 100%;
        left: -100%;
    }

    .topRight {
        bottom: 100%;
        right: -100%;
    }

    .bottomLeft {
        top: 100%;
        left: -100%;
    }

    .bottomRight {
        top: 100%;
        right: -100%;
    }

    .item {
        padding: 7px 15px;
        display: flex;
        gap: 12px;
        cursor: pointer;
    }

    .focus,
    .selected {
        background: var(--inverted-primary-color);
    }

    .disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.label.disabled {
    opacity: 0.7;
}
