.Navbar {
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}
